@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #F8E367;
  trasition: all 3ms ease;
  color: #343434;
  scroll-behavior: smooth;
}
@media screen and (max-width: 856px) {
  body 
  {
    width: 100%;
  }
  

}
@media screen and (max-width: 640px) {
  .max-right {
    top: 1.4rem;
    position: absolute;
    right: 2rem;
    z-index: 9999;
    background: white;
    color: black;
    border-radius: 5px;
    flex-direction: column;
    padding: 1rem;
  }
    .menu { 
      flex-direction: column;
      display: none;
    }
}




.s-container .Swiper {
  position: unset;
}

.s-container .swiper-button-prev {
  left: 0%;
}

.s-container .swiper-button-next{
  right: 0%;
}

.s-container .swiper-button-prev, .s-container .swiper-button-next {
  color: black;
}


